<div class=container>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center ">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<%= link_to 'Edit', edit_cocktail_path(@cocktail), class: "btn btn-info"%>
<%= link_to 'Back', cocktails_path %>
<%= link_to 'Add new ingredient', new_cocktail_dose_path(@cocktail) %>
</div>
</div>
